.loginContent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginLeftContent{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPicture{
    width: 600px;
    height: 400px;
}

.footer{
  position: fixed;
  bottom: 0;
} 

@media screen and (max-width: 768px){

    /* 로그인폼 아래 줄 생기는원인 혹은 그림자 사라짐 */   
    /* *{
      overflow-y: hidden;  
    } */

    .loginLeftContent{
        display: none;
    }

    .loginContent{
      margin: 0;
      height: 100%;
    }
}

@media screen and (max-width: 480px){
    .loginLeftContent{
        display: none;
    }
}