.changeBussinessNumber_wrap{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.changeBussinessNumber_contentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 320px;
    border-radius: 30px;
    box-shadow: 5px 7px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dfe3f5;
}

.changeBussinessNumber_word1{
    font-family: NanumSquare_ac;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #000;
    font-size: 20px;
    margin: 20px 0 50px 0;
}

.changeBussinessNumber_input{
    border-radius: 10px;
    border: solid 1px #707070;
    background-color: #fff;
    width: 200px;
    height: 25px;
    padding: 18px 10px;
    outline: none;
    margin: 3px 0 10px 0;
}

.changeBussinessNumber_input:focus{
    border-color: var(--black);
}

.changeBussinessNumber_button1{
    margin-top: 50px !important;
}

.changeBussinessNumber_button{
    background-color: #ef5e3b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    margin: 5px 0;
}

.changeBussinessNumber_button:hover{
    background-color: #f58f76;
}

@media screen and (max-width: 1025px){
    .changeBussinessNumber_wrap{
        height: 66vh;
    }
}

@media screen and (max-width: 415px){
    .changeBussinessNumber_wrap{
        height: 65vh;
    }
}

@media screen and (max-width: 376px){
    .changeBussinessNumber_wrap{
        height: 60vh;
    }
}

@media screen and (max-width: 321px){
    .changeBussinessNumber_wrap{
        height: 55vh;
    }
    
    .changeBussinessNumber_contentWrap{
        width: 250px;
        height: 250px;
    }

    .changeBussinessNumber_word1{
        font-size: 18px;
        margin: 20px 0;
    }

    .changeBussinessNumber_input{
        width: 180px;
        font-size: 15px;
    }

    .changeBussinessNumber_button1{
        margin-top: 20px !important;
    }

    .changeBussinessNumber_button{
        width: 160px;
        height: 35px;
        font-size: 16px;
        /* font-weight: bold; */
        margin: 5px 0;
    }
}

@media screen and (max-width: 281px){
    .changeBussinessNumber_wrap{
        height: 60vh;
    }
}