.specBanner{
  width: auto;
  height: 100px;
  font-family: NanumSquare_acEB;
  font-size: 50px;
  background-color: var(--dark-grey-blue);
  line-height: 100px;
  color: white;
  padding-left: 40px;
}

.specContainer{
  display: flex;
}

.specContainerLeft{
  background-color: #d3d3d3;
}

.SelectionItemTop{
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.SelectionItemIndex{
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 100%;
  font-family: NanumSquare_acEB;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border: solid 1px var(--warm-grey);
  background-color: var(--dark-grey-blue);
}

.SelectionItemTitle{
  height: 44px;
  margin-left : 40px;
  font-family: NanumSquare_acEB;
  font-size: 35px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  color: var(--black);
}

.SelectionItemBottomItems{
  width: auto;
  height: 400px;
  display: flex;
  justify-content: center;
}
.SelectionItemBottomItem{
  width: 344px;
  height: 344px;
  margin: 46px 29px 126px 45px;
  border: solid 1px var(--greyish-brown);
  background-color: var(--white);
}

.SelectionItemBottomItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
}

#boothItemConatiner img{
  width: 80%;
  text-align: center;
}


.specContainerRight{
}

.reservationDashboard{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 826px;
  margin: 40px 30px 638px 50px;
  padding: 26px 22px 36px 16px;
  border-radius: 23px;
  background-color: #d3d3d3;
  align-items: center;
}

.DashboardTitle{
  width: 362px;
  height: 76px;
  border-radius: 17px;
  background-color: white;
  font-family: NanumSquare_acEB;
  font-size: 27px;
  line-height: 76px;
  text-align: center;
  color: var(--dark-grey-blue);
}

.DashboardDesc{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 362px;
  height: 800px;
  margin: 27px 0 21px;
  padding-top: 10px;
  border-radius: 19px;
  background-color: var(--white);
}

.DescBottomItemDetail{
  text-align: center;
}

.DashboardDescTop{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-bottom: 2px solid var(--black);
  padding: 20px 0 20px 0;
  margin-bottom: 10px;
}

.DescTopTitle{
  font-family: NanumSquare_acR;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: var(--dark-grey-blue);
  margin-bottom: 15px;
}

.DescTopBoothnum{
  font-family: NanumSquare_acEB;
  font-size: 38px;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-grey-blue);
  margin-bottom: 10px;
}

.DescTopBoothnumDetail{
  font-family: NanumSquare_acR;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-grey-blue);
}


.DashboardDescBottom{
  align-items: center;
  width: 300px;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid var(--black);
}

.DescBottomItemDate{
  margin-bottom: 27px;
}

.DescBottomItem{
  display: flex;
  margin-bottom: 27px;
}

.DescBottomItemTitle{
  font-family: NanumSquare_acR;
  font-size: 20px;
  text-align: left;
  color: var(--dark-grey-blue);
  margin: 15px auto;
}

.DescBottomItemDate>.DescBottomItemTitle {
  margin-bottom: 20px;
}

.DescBottomItemDetail{
  font-family: NanumSquare_acB;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--dark-grey-blue);
  margin: 15px auto;
}

.eslClasses{
  display: flex;
  justify-content: space-evenly;
}

.eslClass{
  display: flex;
  align-items: center;
}

.eslClassTitle{
  margin-right: 10px;
  font-family: NanumSquare_acR;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: var(--dark-grey-blue);
}

.eslClassNum{
  font-family: NanumSquare_acB;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-grey-blue);
}

.reservationDashboardCost{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 362px;
  height: 140px;
  border-radius: 21px;
  background-color: var(--white);
}
.reservationDashboardCostTitle{
  margin: 0 82px 20px;
  font-family: NanumSquare_acR;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: var(--dark-grey-blue);
}
.reservationDashboardCostNum{
  font-family: NanumSquare_acEB;
  font-size: 38px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-grey-blue);
}

.reservationDashboardButton{
  width: 358px;
  height: 58px;
  margin: 23px 4px 0 0;
  border-radius: 10px;
  background-color: var(--dark-grey-blue);
  font-family: NanumSquare_acR;
  font-size: 27px;
  line-height: 58px;
  text-align: center;
  color: var(--white);
}

.reservationDashboardButton{
  cursor: pointer;
}

.passEnrollTable{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  gap: 1rem;
  margin: 0 auto 50px auto;
}

.passEnrollTable div{
  text-align: center;
  width: 70%;
  font-size: 20px;
  font-weight: bold;
}

.passEnrollTable input{
  width: 70%;
  height: 20px;
  font-size: 18px;
}

.passEnrollTable input:focus{
  outline:none;
}

#passFieldRow{}

.defaultInfoTable{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap:30px;  
}
.InfoTableLabel{
  font-size: 20px;
  font-weight: bold;
}
.defaultInfoTable input{
  height: 50%;
  font-size: 20px;
}

.defaultInfoTable input:hover{
  outline: none;
}
