.specBanner{
  width: auto;
  height: 90px;
  font-family: NanumSquare_acEB;
  font-size: 38px;
  background-color: var(--dark-grey-blue);
  line-height: 90px;
  color: white;
  padding-left: 40px;
}

.specContainer{
  display: flex;
}

.specContainerLeft{
  background-color: #d3d3d3;
  width: 900px;
}

.SelectionItemTop{
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.SelectionItemIndex{
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 41px;
  border-radius: 100%;
  font-family: NanumSquare_acEB;
  font-size: 23px;
  font-weight: bold;
  color: white;
  border: solid 1px var(--warm-grey);
  background-color: var(--dark-grey-blue);
}

.SelectionItemTitle{
  height: 44px;
  margin-left : 30px;
  font-family: NanumSquare_acEB;
  font-size: 26px;
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  color: var(--black);
}

.SelectionItemBottomItems{
  width: auto;
  height: 400px;
  display: flex;
  justify-content: center;
}


.SelectionItemBottomItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 344px;
  height: 344px;
  margin: 46px 29px 126px 45px;
  border: solid 1px var(--greyish-brown);
  background-color: var(--white);
  justify-content: space-evenly;
}

.SelectionItemBottomItem img{
  width: 80%;
  height: 200px;
  text-align: center;
}

.SelectionItemBottomItem div{
  margin-bottom: 10px;
}


.selectionConatiner{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  text-align: center;
}

.selectionConatiner label{
  text-align: center;
  font-size: 16px;
  font-family: NanumSquare_acEB;
  font-weight: bold;
  color: var(--black);
}

.selectionConatiner input{
  height: 20px;
}

.selectionConatiner *{
  width: 30%;
  text-align: center;
  font-size: 16px;
  font-family: NanumSquare_acEB;
  font-weight: bold;
  color: var(--black);
  border-radius: 5px;
}


.specContainerRight{
  /* width: 800px; */
  width: 100%;
}

.reservationDashboard{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 900px;
  margin: 65px auto;
  padding: 26px 22px 36px 16px;
  border-radius: 23px;
  background-color: #d3d3d3;
  align-items: center;
  position: sticky;
  top: 5%;
}

.DashboardTitle{
  width: 300px;
  height: 76px;
  border-radius: 17px;
  background-color: white;
  font-family: NanumSquare_acEB;
  font-size: 27px;
  line-height: 76px;
  text-align: center;
  color: var(--dark-grey-blue);
}

.DashboardDesc{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 800px;
  margin: 27px 0 21px;
  padding: 10px 0;
  border-radius: 19px;
  background-color: var(--white);
}

.DescBottomItemDetail{
  text-align: center;
  height: 30px;
}

.DashboardDescTop{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border-bottom: 2px solid var(--black);
  padding: 20px 0 20px 0;
  margin-bottom: 10px;
}

.DescTopTitle{
  font-family: NanumSquare_acR;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: var(--dark-grey-blue);
  margin-bottom: 15px;
}

.DescTopBoothnum{
  font-family: NanumSquare_acEB;
  font-size: 38px;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-grey-blue);
  margin-bottom: 10px;
}

.DescTopBoothnumDetail{
  font-family: NanumSquare_acR;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-grey-blue);
}


.DashboardDescBottom{
  align-items: center;
  width: 250px;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid var(--black);
}

.DescBottomItemDate{
  margin-bottom: 27px;
  display: flex;
}

.DescBottomItem{
  display: flex;
  margin-bottom: 27px;
}

.DescBottomItemTitle{
  font-family: NanumSquare_acR;
  font-size: 20px;
  text-align: left;
  color: var(--dark-grey-blue);
  margin: 15px auto;
}

.DescBottomItemDate>.DescBottomItemTitle {
  margin-bottom: 20px;
}

.DescBottomItemDetail{
  font-family: NanumSquare_acB;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--dark-grey-blue);
  margin: 10px auto;
}

.eslClasses{
  display: flex;
  justify-content: space-evenly;
}

.eslClass{
  display: flex;
  align-items: center;
}

.eslClassTitle{
  margin-right: 10px;
  font-family: NanumSquare_acR;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: var(--dark-grey-blue);
}

.eslClassNum{
  font-family: NanumSquare_acB;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-grey-blue);
}

.reservationDashboardCost{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 140px;
  border-radius: 21px;
  background-color: var(--white);
  padding: 5px 0;
}
.reservationDashboardCostTitle{
  margin: 0 82px 20px;
  font-family: NanumSquare_acR;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: var(--dark-grey-blue);
}
.reservationDashboardCostNum{
  font-family: NanumSquare_acEB;
  font-size: 38px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  /* color: var(--dark-grey-blue); */
  color: rgb(240, 102, 102);
}

.reservationDashboardButton{
  width: 300px;
  height: 58px;
  margin: 23px 4px 0 0;
  border-radius: 10px;
  background-color: var(--dark-grey-blue);
  font-family: NanumSquare_acR;
  font-size: 27px;
  line-height: 58px;
  text-align: center;
  color: var(--white);
}

.reservationDashboardButton:hover{
  background-color: #485d69;
}

.passEnrollTable{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  gap: 1rem;
  margin: 0 auto 50px auto;
}

.passEnrollTable div{
  text-align: center;
  width: 70%;
  font-size: 16px;
  font-weight: bold;
}

.passEnrollTable input{
  width: 75%;
  height: 20px;
  font-size: 18px;
}

.passEnrollTable input:focus{
  outline:none;
}

.defaultInfoTable{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap:30px;  
}
.InfoTableLabel{
  font-size: 20px;
  font-weight: bold;
}
.defaultInfoTable input{
  height: 50%;
  font-size: 20px;
}

.defaultInfoTable input:hover{
  outline: none;
}
/* .passEnrollTable input{
  padding: 15px 6.5px;
  font-size: 15px;
  font-weight: bold;
  width: 120px;
} */


@media screen and (max-width: 1098px){
  .specBanner{
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    padding-left: 30px;
  }
  .specContainer{
    flex-direction: column;
    align-items: center;
  }
  .specContainerLeft{
    width: 1098px;
  }
  .SelectionItemBottomItem{
    height: 250px;
  }
  .selectionConatiner label{
    width: 60px;
  }
  .selectionConatiner .eslSelectionBOX{
    height: 50px;
    margin-top: 13px;
  }
  .selectionConatiner input{
    margin-top: 12px;
  }
  .SelectionItemBottomItem img{
    width: 130px;
    height: 80px;
  }
  .SelectionItemIndex{
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
  }
  .SelectionItemTitle{
    height: 40px;
    margin-left : 25px;
    font-size: 22px;
    line-height: 35px;
  }
  .InfoTableLabel{
    font-size: 16px;
  }
  .SelectionItemBottomItem{
    width: 182px;
    height: 250px;
    margin: 46px 29px 126px 45px;
  }
  .SelectionItemBottomItem img{
    width: 160px;
  }
  .specContainerRight{
    width: 400px;
  }
}

@media screen and (max-width: 1024px){
  .specContainerLeft{
    width: 1024px;
  }
}

@media screen and (max-width: 768px){
  .specContainerLeft{
    width: 768px;
  }
}
@media screen and (max-width: 540px){
  .specBanner{
    height: 27px;
    font-size: 16px;
    line-height: 27px;
    padding-left: 27px;
  }
  .specContainerLeft{
    width: 540px;
  }
  .SelectionItemIndex{
    width: 25px;
    height: 25px;
    line-height: 20px;
    font-size: 12px;
  }
  .SelectionItemTitle{
    height: 20px;
    margin-left : 15px;
    font-size: 20px;
    line-height: 20px;
  }
  .InfoTableLabel{
    font-size: 13px;
  }
  .defaultInfoTable{
    display: flex;
    flex-direction: column;
  }
  .specInput{
    margin-top: 5px;
    margin-bottom: -10px;
    width: 200px;
  }
  #defaultInfoTable_companyName{
    width: 200px;
  }
  .SelectionItemBottomItems{
    height: 850px;
    flex-direction: column;
    align-items: center;
  }
  .SelectionItemBottomItem{
    width: 250px;
    height: 250px;
    margin: 20px auto;
  }
  .selectionConatiner .eslSelectionBOX{
    height: 40px;
    width: 50px;
    margin-top: 15px;
  }
  .SelectionItemBottomItem img{
    width: 130px;
    height: 80px;
  }
  .selectionConatiner label{
    width: 100px;
  }
  .selectionConatiner input{
    margin-top: 12px;
  }
  .specLabel{
    font-size: 12px;
  }
  .SelectedBoothType{
    width: 70px;
  }
  .SelectedESLNum{
    width: 70px;
  }
  .SelectionItem_add{
    height: 260px;
  }
  .reservationDashboard{
    width: 300px;
  }
  .reservationDashboard{
    margin: 20px auto;
  }
  .passEnrollTable input{
    font-size: 12px;
  }
  .passEnrollTable .passTelRow{
    width: 90px;
  }
  .DashboardTitle{
    width: 250px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
  }
  .DashboardDesc{
    width: 250px;
    height: 500px;
  }
  .DashboardDescTop{
    width: 200px;
  }
  .DescTopTitle{
    font-size: 15px;
    margin-bottom: 12px;
  }
  .DescTopBoothnum{
    font-size: 30px;
  }
  .DescTopBoothnumDetail{
    font-size: 15px;
  }
  .DashboardDescBottom{
    width: 200px;
  }
  .DescBottomItemTitle{
    font-size: 15px;
    margin: 10px auto;
  }
  .DescBottomItemDetail{
    font-size: 15px;
    line-height: 15px;
  }
  .reservationDashboardCost{
    width: 250px;
    height: 140px;
  }   
  .reservationDashboardCostTitle{
    font-size: 16px;
  }
  .reservationDashboardCostNum{
    font-size: 30px;
  }
  .reservationDashboardButton{
    width: 250px;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
  }
}
@media screen and (max-width: 420px){
  .specContainerLeft{
    width: 411px;
  }
}
@media screen and (max-width: 380px){
  .specContainerLeft{
    width: 375px;
  }
  .specContainerRight{
    width: 370px;
  }
  .passEnrollTable input{
    font-size: 10px;
  }
  .passEnrollTable .passTelRow{
    width: 80px;
  }
}
@media screen and (max-width: 360px){
  .specContainerLeft{
    width: 360px;
  }
  .specContainerRight{
    width: 360px;
  }
  .specBanner{
    height: 25px;
    font-size: 10px;
    line-height: 25px;
    padding-left: 27px;
  }
  .SelectionItemTop{
    margin-top: 30px;
    margin-left: 37px;
  }
  .defaultInfoTable .inputTag{
    height: 80px;
  }
  .defaultInfoTable .inputTag label{
    margin-left: 20px;
  }
  .defaultInfoTable .inputTag .specInput{
    height: 30px;
    padding: 3px 0;
    margin-left: 20px;
  }
  .SelectionItemBottomItem{
    height: 280px;
  }
  .SelectionItemBottomItem img{
    height: 80px;
    margin: 0;
  }
  .selectionConatiner .eslSelectionBOX{
    margin-top: 0px;
  }
  .selectionConatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .selectionConatiner label{
    width: 50px;
    margin-bottom: 10px;
  }
  .reservationDashboard .DashboardTitle{
    height: 80px;
    line-height: 80px;
    font-size: 16px !important;
    font-weight: bold;
  }
  .DescTopBoothnum{
    width: 20px;
    height: 15px;
    font-weight: bold;
  }
  .SelectionItemTop .SelectionItemIndex{
    height: 25px;
    width: 25px;
    padding-top: 1px;
  }
  .SelectionItemTop .SelectionItemTitle{
    padding-top: 2px;
  }
  /* .passEnrollTable .passTelRow{
    width: 80px;
  } */
  .eslClasses .eslClassTitle, .eslClasses .eslClassNum{
    height: 15px;
  }
}

@media screen and (max-width: 330px){
  .specContainerLeft{
    width: 320px;
  }
  .specContainerRight{
    width: 320px;
  }
  .reservationDashboard{
    width: 300px;
  }
}
@media screen and (max-width: 290px){
  .specContainerLeft{
    width: 280px;
  }
  .specContainerRight{
    width: 280px;
  }
  .reservationDashboard{
    width: 270px;
  }
}