.successSignIn_wrap{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.successSignIn_contentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 420px;
}


.successSignIn_logo{
    width: 250px;
    height: 55px;
    margin-top: 20px;
}

.successSignIn_balloon{
    width: 130px;
    height: 130px;
    margin-top: 30px;
}

.successSignIn_word1{
    font-family: NanumSquare_ac;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    font-size: 20px;
    color: #000;
    margin: 30px 0 10px 0;
}

.successSignIn_button{
    background-color: #ef5e3b;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    width: 250px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.successSignIn_button:hover{
    background-color: #f58f76;
}

@media screen and (max-width: 480px){
    .successSignIn_contentWrap{
        width: 320px;
        height: 400px;
    }

    .successSignIn_logo{
        width: 200px;
        height: 45px;
    }
}