.find_wrap{
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.find_contentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 420px;
    border-radius: 30px;
    box-shadow: 5px 7px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dfe3f5;
}


.find_logo{
    width: 250px;
    height: 55px;
    margin-top: 20px;
}

.find_word1{
    font-family: NanumSquare_ac;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #000;
    margin: 20px 0;
}

.find_word2{
    font-family: NanumSquare_ac;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #3b3b3b;
    margin: 3px 0;
}

.find_input{
    border-radius: 10px;
    border: solid 1px #707070;
    background-color: #fff;
    width: 280px;
    height: 25px;
    padding: 18px 10px;
    outline: none;
    margin: 3px 0 10px 0;
}

.find_input:focus{
    border-color: var(--black);
}

.find_hidden{
    display: none;
    color: var(--dusty-orange);
}

.find_button{
    background-color: #ef5e3b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    margin: 5px 0 10px 0;
}

.regist_button{
    display: none;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding-top: 5px;
}

.find_button:hover{
    background-color: #f58f76;
}

.find_homeLink{
    margin: 10px 0;
}

.find_word3{
    font-family: NanumSquare_ac;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #4066ff;
}

.find_word3:hover{
    color: #7b95fd;
}

@media screen and (max-width: 480px){
    .find_contentWrap{
        width: 320px;
        height: 350px;
        /* margin-top: 170px; */
    }

    .find_logo{
        width: 200px;
        height: 45px;
        /* margin-top: 20px; */
    }

    .find_word1{
        margin-top: 20px;
    }

    .find_word2, .find_word3{
        font-size: 12px;
        margin: 4px 0;
    }

    .find_input{
        width: 200px;
        height: 20px;
        margin: 10px;
    }

    .find_hidden{
        font-size: 12px;
    }
}
