.withdraw_contentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 5px 7px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dfe3f5;
    /* background-color: var(--white); */
    margin: auto;
    margin-top: 80px;
}

.withdraw_word1, .withdraw_word2, .withdraw_word3{
    font-family: NanumSquare_ac;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #000;
}

.withdraw_word1{
    margin: 30px 0;
}

.withdraw_word2{
    margin: 20px 0 10px 0;
}

.withdraw_word3{
    color: red;
    padding: 0 30px;
    margin-top: 10px; 
}

.withdraw_button1{
    margin-top: 50px !important;
}

.withdraw_button{
    background-color: #ef5e3b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
}

.withdraw_button:hover{
    background-color: #f58f76;
}