/* .wrap{
    width: 100%;
    height: 100%;
    display: flex;
} */

.changePw_contentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 5px 7px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dfe3f5;
    /* background-color: var(--white); */
    margin: auto;
    margin-top: 140px;
}


.changePw_logo{
    width: 250px;
    height: 55px;
    margin-top: 20px;
}

.changePw_word1{
    font-family: NanumSquare_ac;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #000;
    margin: 20px 0;
}

.changePw_input{
    border-radius: 10px;
    border: solid 1px #707070;
    background-color: #fff;
    width: 280px;
    height: 25px;
    padding: 18px 10px;
    outline: none;
    margin: 3px 0 10px 0;
}

.changePw_input:focus{
    border-color: var(--black);
}

.changePw_hidden{
    display: none;
    color: var(--dusty-orange);
}

.changePw_button{
    background-color: #ef5e3b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.changePw_button:hover{
    background-color: #f58f76;
}

.changePw_homeLink{
    margin: 10px 0;
}

.changePw_word3{
    font-family: NanumSquare_ac;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #4066ff;
}

.changePw_word3:hover{
    color: #7b95fd;
}

@media screen and (max-width: 480px){
    .changePw_contentWrap{
        width: 320px;
        height: 360px;
    }

    .changePw_logo{
        width: 200px;
        height: 45px;
    }

    .changePw_word2{
        font-size: 10px;
        /* margin: 5px; */
    }

    .changePw_input{
        width: 200px;
        height: 20px;
        /* margin: 10px; */
    }

    .changePw_hidden{
        font-size: 12px;
    }
}

@media screen and (max-height: 1400px){
    .changePw_contentWrap{
        margin-top: 360px;
    }
}
@media screen and (max-height: 1024px){
    .changePw_contentWrap{
        margin-top: 230px;
    }
}

@media screen and (max-height: 830px){
    .changePw_contentWrap{
        margin-top: 160px;
    }
}

@media screen and (max-height: 720px){
    .changePw_contentWrap{
        margin-top: 120px;
    }
}
@media screen and (max-height: 670px){
    .changePw_contentWrap{
        margin-top: 125px;
    }
}

@media screen and (max-height: 600px){
    .changePw_contentWrap{
        margin-top: 100px;
    }
}

@media screen and (max-height: 570px){
    .changePw_contentWrap{
        margin-top: 90px;
    }
}