.modalCloseButton{
  position: absolute;
  right: 5%;
  top: 2%;
  font-size: 12px;
}

.modalCloseButton:hover{
  cursor: pointer;
}

.modalBoothType{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modalEslKindItem{
  display: flex;
  justify-content: space-between;
}

.defaultSeriveConatiner{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.defaultSeriveItem{
  display: flex;
}

.modalSubTitle{
  font-size: 11px;
  color: var(--greyish-brown);
}

.rentEslConatiner{
  margin-bottom: 20px;
}

.modalCenterMakeHelper{
  display: flex;
  flex-direction: column;
}

.boothmodalButton{
  margin: 0 auto;
}