.changeNumber_wrap{
    height: 71vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.changeNumber_contentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 450px;
    border-radius: 30px;
    box-shadow: 5px 7px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dfe3f5;
}

.changeNumber_word1{
    font-family: NanumSquare_ac;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #000;
    font-size: 20px;
    margin: 30px 0;
}

.changeNumber_input{
    border-radius: 10px;
    border: solid 1px #707070;
    background-color: #fff;
    width: 200px;
    height: 25px;
    padding: 18px 10px;
    outline: none;
    margin: 10px 0;
}

.changeNumber_input:focus{
    border-color: var(--black);
}

.changeNumber_button1{
    margin-top: 50px !important;
}

.changeNumber_button{
    background-color: #ef5e3b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    margin: 5px 0;
}

.changeNumber_button:hover{
    background-color: #f58f76;
}

@media screen and (max-width: 1025px) {  
    .changeNumber_wrap{
        height: 68vh;
    }
    .changeNumber_contentWrap{
        height: 350px;
    }
    .changeNumber_word1{
        margin: 30px 0 20px 0;
    }
    .changeNumber_btn_wrap{
        display: flex;
    }
    .changeNumber_button{
        width: 90px;
        margin: 15px 5px;
    }
    .changeNumber_button1{
        margin-top: 15px !important;
    }
}

@media screen and (max-width: 380px) {  
    .changeNumber_wrap{
        height: 60vh;
    }
}

@media screen and (max-width: 321px) {  
    .changeNumber_wrap{
        height: 56vh;
    }
    .changeNumber_contentWrap{
        width: 250px;
        height: 280px;
    }
    .changeNumber_word1{
        margin: 10px auto;
        font-size: 16px;
    }
    .changeNumber_input{
        width: 180px;
        height: 23px;
        font-size: 14px;
    }
    .changeNumber_button{
        width: 80px;
        height: 35px;
        font-size: 16px;
        margin: 8px 5px;
    }
    .changeNumber_button1{
        margin-top: 8px !important;
    }
}