.footer{
  width: 100%;
  height: auto;
  background-color: #304653;
  bottom: 0px;
  padding-top: 10px;
}

.footerInfo{
  display: flex;
  justify-content: flex-end;
}

.footerInfo div{
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(210, 210, 210, 0.98);
}

.copyright{
  display: flex;
  justify-content: flex-end;  /* item 오른쪽 정렬 */
}

.copyright span{
  margin: 10px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(210, 210, 210, 0.98);
}

@media screen and (max-width: 375px){
  .footer{
    margin-top:30px;
  }
  .footerInfo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .footerInfo div{
    margin: 3px auto;
    font-size: 10px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(210, 210, 210, 0.98);
  }
  .line{
      display: none;
  }
  .copyright{
      font-size: 5px;
      justify-content: center;
      text-align: center;
  }
  .copyright span{
    text-align: center;
  }
}