.verificationContainer{
  margin-left: auto;
  margin-right: auto;
}

.verificationNum{
  display: flex;
  margin: 0 auto;
  width: auto;
}

.verificationNumInput {
  width: 430px;
  height: 50px;
  margin: 0 1.8% 0 0;
  border-radius: 5px;
  border: solid 1px #0d47a1;
  background-color: var(--white);
  font-size:20px;
}

.verificationNumInput:focus {
  outline:none;
}


.verificationNumButton{
  display: inline;
  width: 168.6px;
  height: 53.7px;
  padding: 15.2px 13.6px 18.4px 14px;
  background-color: var(--dark-grey-blue);
  border-radius: 10px;
  border: 0 none;
  font-family: NanumSquare_acB;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}
.verificationNumButton:hover{
  background-color: #546c7a;
}

@media screen and (max-width: 375px){
  .verificationNumInput {
    width: 50vw;
    height: 25px;
  }
  .verificationNumButton{
    width: 30vw;
    height: 25px;
    padding: 0 5px 0 5px;
    font-size: 10px;
  }
}