.headerContainer{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

a{
    text-decoration: none;
    color: var(--black);
}

.headerLeftContent{
    padding: 0px 10px 10px 20px;
}

#black_logo{
    height: 30px;
}

.headerMenu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerMenuItem:hover{
    color: var(--warm-grey);
}

.headerMenu li{
    padding: 10px 30px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
}

.headerMenu li a:hover{
    color: var(--warm-grey);
}

.headerRightContent{
    display: flex;
    align-items: center;
}

.headerRightPadding{
    padding: 8px 12px;
}

.headerRightSpan{
    color: var(--greyish-brown);
    margin-left: 0;
}

.headerRightSpan:hover{
    color: var(--warm-grey);
}

.headerToggle{
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 24px;
    color: var(--white);
}

#white_logo{
    display: none;
    margin-top: 10px;
}

@media screen and (max-width: 1098px){
    /* .headerLogout{
        display: none;
    } */

    #black_logo{
        margin-top: 12px;
        height: 27px;
    }

    .headerContainer{
        flex-direction: column;
        align-items: flex-start;
        /* background-color: var(--dark-grey-blue); */
    }

    .headerMenu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 8px 0;
    }

    .headerMenu li a{
        /* color: var(--white); */
        color: var(--dark-grey-blue);
    }

    .headerMenu li a:hover{
        color: #73838d;
    }

    .headerRightPerson{
        display: none;
    }

    .headerRightContent{
        justify-content: center;
        width: 100%;
    }

    .headerRightSpan{
        display: none;
        /* color: var(--white); */
        color: var(--dark-grey-blue);
    }

    .headerToggle{
        display: block;
        color: var(--dark-grey-blue);
    }

    .headerToggle:hover{
        color: #73838d;
    }

    .headerMenu.active,
    .headerRightSpan.active{
        display: flex;
    }
}


@media screen and (max-width: 480px) {
    #black_logo{
        display: none;
        /* padding-top: 15px; */
    }
    #white_logo{
        display: block;
        padding-top: 16px;
    }
    .headerLogo{
        width: 79px;
        height: 18px;
    }
    .headerContainer{
        background-color: var(--dark-grey-blue);
    }
    .headerRightPerson{
        font-size: 12px;
        padding: 10px 15px 10px 10px;
    }
    .headerMenu li{
        font-size: 14px;
    }
    .headerMenu li a{
        color: var(--white);
    }
    .headerRightSpan{
        color: var(--white);
        font-size: 14px;
    }
    .headerToggle{
        color: var(--white);
    }
    .headerToggle:hover{
        color: var(--warm-grey);
    }
}

@media screen and (max-width: 360px){
    #white_logo{
        padding-top: 5px;
        margin-left: -5px;
    }
    .headerToggle{
    }
}