.headerContainer{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

a{
    text-decoration: none;
    color: var(--black);
}

.headerMenu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerMenuItem:hover{
    color: var(--warm-grey);
}

.headerMenu li{
    padding: 8px 30px;
    font-size: 23px;
    line-height: 23px;
    font-weight: bold;
}

.headerMenu li:hover{
    font-weight: bold;
}

.headerRightContent{
    display: flex;
    align-items: center;
}

.headerRightPadding{
    padding: 8px 12px;
}

.headerRightSpan{
    color: var(--greyish-brown);
}

.headerRightSpan:hover{
    color: var(--warm-grey);
}

.headerToggle{
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 24px;
    color: var(--white);
}

#white_logo{
    display: none;
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    /* .headerLogout{
        display: none;
    } */

    #black_logo{
        display: none;
    }

    #white_logo{
        display: block;
    }

    .headerContainer{
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--dark-grey-blue);
    }

    .headerMenu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 8px 0;
    }

    .headerMenu li a{
        color: var(--white);
    }

    .headerRightPerson{
        display: none;
    }

    .headerRightContent{
        justify-content: center;
        width: 100%;
        padding: 8px 0;
    }

    .headerRightSpan{
        display: none;
        color: var(--white);
    }

    .headerToggle{
        display: block;
    }

    .headerToggle:hover{
        color: rgba(255, 255, 255, 0.815);
    }

    .headerMenu.active,
    .headerRightSpan.active{
        display: flex;
    }
}


@media screen and (max-width: 480px) {
    .headerLogo{
        width: 79px;
        height: 18px;
    }
    .headerRightPerson{
        font-size: 12px;
        padding: 10px 15px 10px 10px;
    }
}