.headerContainer{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
}

.headerLeftContent{
    padding: 10px 10px 10px 20px;
}

.headerRightContent{
    display: flex;
    align-items: center;
}

.headerRightPadding{
    padding: 10px 30px 10px 10px;
}