.userinfoOrReservationlistMenuBar{
  width: auto;
  height: 60px;
  margin-top: 5px;
  background-color: var(--dark-grey-blue);
}

.uorMenuContainer{
  margin-left: 11.4%;
}

.uorMenu{
  width: 109px;
  margin: 0 1.5%;
  font-family: NanumSquare_acR;
  font-size: 18px;
  line-height: 60px;
  color: var(--white);
  border-bottom: solid 3px white;
}

.userinfoOrReservationlistContainer{
  position: absolute;
  width: 80vw;
  height: 70vh;
  margin-left: -40vw;
  margin-top: -30vh;
  top:50%;
  left:50%;
}

.rListTitleAndSub{
  height: 80px;
  margin-bottom: 30px;
}

.rListTitle{
  height: 29px;
  font-family: NanumSquare_acB;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 10px;
  color: var(--black);
}

.rListSub{
  height: 29px;
  font-family: NanumSquare_acB;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: var(--black);
}

.rListTable{
  height: 40%;
}

.rListTableRow{
  display: flex;
  width: auto;
  height: 50px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-evenly;
}

#rListTableField{
  display: flex;
  width: auto;
  height: 50px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(212, 212, 212, 0.27);
  border-top: solid 2px black;
  border-bottom: solid 2px var(--black);
}

.rListItem{
  width: 20%;
  font-family: NanumSquare_acB;
  font-size: 26px;
  line-height: 1.12;
  text-align: center;
  color: var(--black);
}
#rListTableField>.rListItem{
  width: 20%;
  font-family: NanumSquare_acB;
  font-size: 26px;
  line-height: 1.12;
  text-align: center;
  color: var(--warm-grey);
}
