input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inputTag{
  display: block;
  width: 100%;
  margin: 10px auto;
  width: auto;
}

.inputTag input:focus{
  outline:none;
}

.inputTagLabel {
  font-size: 20px;
  line-height: 1.17;
  text-align: left;
  color: var(--black);
}

.inputTagInput {
  width: 600px;
  height: 50px;
  margin: 10px 0 0;
  padding: 0 15px;
  border-radius: 5px;
  border: solid 1px #0d47a1;
  background-color: var(--white);
  font-size: 20px;
}

.warningText{
  width: 500px;
  height: 27px;
  margin: 5px 6px 4px 10px;
  font-size: 18px;
  line-height: 1.35;
  text-align: left;
  color: #f80000;
}

.telNumContainer{
  display: flex;
}


#telNumContainerSelect {
  width: 230px;
  height: 50px;
  margin: 10px 21.3px 7px 0;
  padding: 11px 11.8px 11px 10px;
  border: solid 1px #0d47a1;
  background-color: var(--white);
  font-size: 20px;
  line-height: 1.33;
  text-align: left;
  color: var(--black);
  border-radius: 5px;
}

.telNumContainerWrite {
  width: 350px;
  height: 50px;
  margin: 10px 0 7px 0;
  padding: 0 15px 0 15.9px;
  border: solid 1px #0d47a1;
  background-color: var(--white);
  border-radius: 5px;
  font-size: 20px;
  line-height: 1.33;
  text-align: left;
  color: var(--black);
}

@media screen and (max-width: 375px){

  .warningText{
    font-size: 10px;
  }

  .inputTag{
    width: 80vw;
  }
  .inputTagInput{
    width: 80vw;
    height: 25px;
    font-size: 10px;
  }
  .inputTagLabel {
    font-size: 15px;
    line-height: 1.17;
    text-align: left;
    color: var(--black);
  }
  
  .warningText{
    width: 500px;
    height: 10px;
    margin: 5px 6px 4px 10px;
    font-size: 10px;
    line-height: 1.35;
    text-align: left;
    color: #f80000;
  }
  
  .telNumContainer{
    width: 100%;
  }
  
  
  #telNumContainerSelect {
    width: 30vw;
    height: 25px;
    padding: 0;
    margin-right: 5px;
    font-size: 10px;
  }
  
  .telNumContainerWrite {
    width: 48vw;
    height: 25px;
    font-size: 20px;
  }
  
}