input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inputTag{
  display: block;
  margin: 10px auto;
  width: auto;
}

.inputTag input:focus{
  outline:none;
}

.inputTagLabel {
  font-size: 30px;
  line-height: 1.17;
  text-align: left;
  color: var(--black);
}

.inputTagInput {
  width: 600px;
  height: 63px;
  margin: 10px 0 0;
  padding: 0 15px;
  border-radius: 15px;
  border: solid 1px #0d47a1;
  background-color: var(--white);
  font-size: 30px;
}

.warningText{
  width: 500px;
  height: 27px;
  margin: 5px 6px 4px 10px;
  font-size: 20px;
  line-height: 1.35;
  text-align: left;
  color: #f80000;
}

.telNumContainer{
  display: flex;
}


#telNumContainerSelect {
  width: 230px;
  height: 63px;
  margin: 10px 21.3px 7px 0;
  padding: 11px 11.8px 11px 10px;
  border: solid 1px #0d47a1;
  background-color: var(--white);
  font-size: 20px;
  line-height: 1.33;
  text-align: left;
  color: var(--black);
  border-radius: 10px
}

.telNumContainerWrite {
  width: 350px;
  height: 63px;
  margin: 10px 0 7px 0;
  padding: 0 15px 0 15.9px;
  border: solid 1px #0d47a1;
  background-color: var(--white);
  border-radius: 10px;
  font-size: 27px;
  line-height: 1.33;
  text-align: left;
  color: var(--black);
}

@media screen and (max-width: 375px){

  .telNumContainerSelect {
    width: 100px;
    height: 31.4px;
    margin: 10px 5px 7px 0;
    padding: 0 11.8px 0 10px;
  }
  
  .telNumContainerWrite {
    width: 150px;
    height: 31.4px;
    margin: 10px 0 7px 0;
    padding: 0 15px 0 15.9px;
  }
  .warningText{
    width: 300px;
  }
}