.mainPage{
    /* height: 100%; */
}
.headerWrap{
    position: relative;
}

.imgWrap{
    -ms-overflow-style: none;
     scrollbar-width: none;
}

.imgWrap::-webkit-scrollbar{
    display: none;
}

.imgWrap img{
    width: 100%;
    height: 60px;
}

.wordWrap{
    position: absolute;
    width: 300px;
    text-align: center;
    top: 50%;
    left: 85%;
    transform: translate( -50%, -50% );
    color: var(--white);
    font-family: NotoSans;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.noticeContainer, .infoContainer{
    margin: 50px 15px 50px 15px;
}

.borderSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice{
    font-family: NotoSans;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #304653;
    margin: 0px 10px;
    width: 150px;
}

.line{
    width: 50%;
    border: solid 0.5px #304653;
    background-color: #304653;
    height: 1px;
    margin: 0px 10px;
}

.noticeInfo{
    margin: 30px;
}

.noticeNav{
    display: flex;
    justify-content: center;
}

.noticeNav .n3{
    padding-left: 35px;
}

.n1{
    width: 60px;
}

.n2{
    width: 200px;
}

.n3{
    width: 280px;
}

.n4{
    width: 150px;
}

.noticeNav div{
    padding: 10px;
    background-color: #f5f6fa;
    color: #131523;
    font-weight: bold;
}

.mainpage_n3{
    color: #131523 !important;
}

.noticeDetail{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.noticeDetail div{
    padding: 10px 10px 10px 12px;
}

.page{
    position: absolute;
    left: 50%;
    transform: translate( -50%, -50% );
}

.exInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.exImg, .detailInfo, .moreInfo{
    margin: 15px 10px;
}

.detailInfo div .exinfo_span_title{
    margin-right: 25px;
}

.detailInfo div .exinfo_sapn_first{
    margin-left: 7px !important;
}

.detailInfo div .exinfo_span_info{
    margin-left: 20px;
}

.exImg img{
    width: 300px;
    height: 120px;
}

.moreInfo{
    margin-right: 0;
}

.exButton{
    border-radius: 7px;
    background-color: #304653;
    border: 0px;
    outline: none;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.exButton:hover{
    background-color: #455863;
}

.buttonWord{
    font-family: NanumSquare;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: var( --white);
    margin-left: 14px;
}

.arrowImg{
    width: 18px;
    height: 18px;
    margin: 0 9px;
}


@media screen and (max-width: 1098px) {
    .line{
        width: 70%;
    }
    .wordWrap{
        font-size: 14px;
    }

    .noticeContainer{
        display: none;
    }

    .exImg img{
        width: 200px;
        height: 100px;
    }

    .detailInfo div span{
        font-size: 14px;
        margin: 0px;
    }
}

@media screen and (max-width: 590px){
    .exImg img{
        width: 150px;
        height: 80px;
    }
    .detailInfo div span{
        font-size: 8px;
    }
    .wordWrap{
        width: 150px;
        left: 75%;
        font-size: 12px;
    }
    .moreInfo{
        /* display: none; */
    }
    .exButton{
        width: 80px;
        height: 40px;
    }
    .buttonWord{
        margin-left: 8px;
        font-size: 14px;
    }
    .arrowImg{
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 480px) {
    .line{
        display: none;
    }
    .exInfo{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        flex-direction: column;
    }

    .exInfo{
        border-bottom: 0.5px solid #455863;
    }
    .wordWrap{
        font-size: 14px;
    }

    .detailInfo div span{
        font-size: 16px;
    }
    .exImg{
        margin: 25px 0 0 0;
        width: 250px;
        text-align: center;
    }

    .exImg img{
        width: 250px;
        height: 120px;
    }

    .detailInfo div span{
        display: block;
    }

    .moreInfo{
        /* display: none; */
        margin: 0 10px 15px 10px;
    }

    .detailInfo div{
        margin: 10px 0;
    }

    .detailInfo span{
        padding: 1.5px;
    }

    .detailInfo div .exinfo_span_title{
        margin-right: 0px;
        text-align: center;
        font-weight: bold;
    }

    .detailInfo div .exinfo_sapn_first{
        margin-left: 0px !important;
    }

    .detailInfo div .exinfo_span_info{
        margin-left: 0px;
        text-align: center;
    }
}


@media screen and (max-width: 321px) {
    .exImg img{
        width: 220px;
        height: 100px;
    }
}
/* 
@media screen and (max-width: 365px) {
   .exInfo{
       border-bottom: 0.5px solid #455863;
   }
} */

/* 공지사항 모달창 */
.mainpage_noticeModal_word{
    text-align: center;
}
.mainpage_noticeModal_word_span{
    margin-left: 0;
}
.mainpage_noticeModal_word_span,
.mainpage_noticeModal_selectTitle,
.mainpage_noticeModal_title,
.mainpage_noticeModal_content{
    font-size: 18px;
    font-weight: 600;
    color: #131523;
}
.mainpage_noticeModal_selectInput{
    width: 200px;
    text-align: center;
    border-radius: 7px;
    border: solid 1px #b4b4b4;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
}

.mainpage_noticeModal_exhibitionInput{
    width: 200px;
    border-radius: 7px;
    border: solid 1px #b4b4b4;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    outline: none;
}
.mainpage_noticeModal_titleInput{
    width: 265px;
    border-radius: 7px;
    border: solid 1px #b4b4b4;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    outline: none;
}
.mainpage_noticeModal_textarea{
    border-radius: 7px;
    border: solid 1px #b4b4b4;
    font-size: 15px;
    outline: none;
    padding: 5px 10px;

}
.mainpage_noticeModal_padding{
    padding: 6px 0;
}

@media screen and (max-width: 290px) {
    .wordWrap{
        left: 70%;
    }
}