.headerWrap{
    position: relative;
}

.imgWrap{
    -ms-overflow-style: none;
     scrollbar-width: none;
}

.imgWrap::-webkit-scrollbar{
    display: none;
}

.imgWrap img{
    width: 100%;
    height: 60px;
}

.wordWrap{
    position: absolute;
    width: 300px;
    text-align: center;
    top: 50%;
    left: 85%;
    transform: translate( -50%, -50% );
    color: var(--white);
    font-family: NotoSans;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.noticeContainer, .infoContainer{
    margin: 50px;
}

.borderSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice{
    font-family: NotoSans;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #304653;
    margin: 0px 10px;
    width: 150px;
}

.line{
    width: 50%;
    border: solid 0.5px #304653;
    background-color: #304653;
    height: 1px;
    margin: 0px 10px;
}

.noticeInfo{
    margin: 20px;
}

.noticeNav{
    display: flex;
    justify-content: center;
}

.n1{
    width: 60px;
}

.n2{
    width: 200px;
}

.n3{
    width: 280px;
}

.n4{
    width: 150px;
}

.noticeNav div{
    padding: 10px;
    background-color: #f5f6fa;
    color: #131523;
    font-weight: bold;
}

.noticeDetail{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.noticeDetail div{
    padding: 10px 10px 10px 12px;
}

.page{
    position: absolute;
    left: 50%;
    transform: translate( -50%, -50% );
}

.exInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.exImg, .detailInfo, .moreInfo{
    margin: 15px 10px;
}

.detailInfo div .exinfo_span_title{
    margin-right: 25px;
}

.detailInfo div .exinfo_sapn_first{
    margin-left: 7px !important;
}

.detailInfo div .exinfo_span_info{
    margin-left: 20px;
}

.exImg img{
    width: 300px;
    height: 120px;
}

.moreInfo{
    margin-right: 0;
}

.exButton{
    border-radius: 7px;
    background-color: #304653;
    border: 0px;
    outline: none;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.exButton:hover{
    background-color: #455863;
}

.buttonWord{
    font-family: NanumSquare_ac;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: var( --white);
    margin-left: 14px;
}

.arrowImg{
    width: 18px;
    height: 18px;
    margin: 0 9px;
}


@media screen and (max-width: 1098px) {
    .line{
        width: 70%;
    }
    .wordWrap{
        font-size: 14px;
    }

    .noticeContainer{
        display: none;
    }

    .exImg img{
        width: 200px;
        height: 100px;
    }

    .detailInfo div span{
        font-size: 14px;
        margin: 0px;
    }
}

@media screen and (max-width: 590px){
    .exImg img{
        width: 150px;
        height: 80px;
    }
    .detailInfo div span{
        font-size: 8px;
    }
    .wordWrap{
        width: 150px;
        left: 75%;
        font-size: 12px;
    }
    .moreInfo{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .wordWrap{
        font-size: 14px;
    }

    .exImg{
        margin: 0;
        width: 250px;
    }

    .exImg img{
        width: 100px;
        height: 45px;

    }

    .detailInfo div span{
        display: block;
    }

    .moreInfo{
        display: none;
    }

    .detailInfo div{
        margin: 10px 0;
    }

    .detailInfo span{
        padding: 1.5px;
    }

    .detailInfo div .exinfo_span_title{
        margin-right: 0px;
        text-align: center;
        font-weight: bold;
    }

    .detailInfo div .exinfo_sapn_first{
        margin-left: 0px !important;
    }

    .detailInfo div .exinfo_span_info{
        margin-left: 0px;
        text-align: center;
    }
}