#userInfoBox{
  display: grid;
  column-gap: 12rem;
  grid-template-columns: repeat(2, 1fr);
}

.userInfoBoxItem{
  display: flex;
  width: 100%;
  height: 190px;
  background-color: #E4E4E4;
  border-radius: 15px;
}

.userInfoBoxItemDesc{
  flex:7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
}

.userInfoBoxItemTitle{
  font-family: NanumSquare_acB;
  font-size: 26px;
  line-height: 1.12;
  text-align: left;
  color: var(--dark-grey-blue);
}

.userInfoBoxItemSub{
  font-family: NanumSquare_acL;
  font-size: 18px;
  line-height: 1.11;
  text-align: left;
  color: #8d8d8d;
}


.userInfoBoxItemLeft{
  display: flex;
  flex:2;
  justify-content: center;
  align-items: center;
  font-family: NanumSquare_acB;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.12;
  text-align: center;
  color: var(--dusty-orange);
}

.userInfoBoxItemButton:hover{
  cursor: pointer;
}


.userInfoAddressContainer{
  display: flex;
  justify-content: flex-start;
}
.uIACKey{
  width: 70px;
}

.userinfoLogoutButton{
  justify-self: center;
}