#userInfoBox{
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 70%;
  height: 70vh;
  margin-top: 7%;
}

.userInfoBoxItem{
  display: flex;
  width: 100%;
  height: 190px;
  background-color: #E4E4E4;
  border-radius: 15px;
}

.userInfoBoxItemDesc{
  flex:7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
}

.userInfoBoxItemTitle{
  font-family: NanumSquare;
  font-size: 26px;
  line-height: 1.12;
  text-align: left;
  color: var(--dark-grey-blue);
}

.userInfoBoxItemSub{
  font-family: NanumSquare;
  font-size: 18px;
  line-height: 1.11;
  text-align: left;
  color: #8d8d8d;
}


.userInfoBoxItemLeft{
  display: flex;
  flex:2;
  justify-content: center;
  align-items: center;
  font-family: NanumSquare;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.12;
  text-align: center;
  color: var(--dusty-orange);
}

.userInfoBoxItemButton:hover{
  cursor: pointer;
  color: #f58f76 !important;
}


.userInfoAddressContainer{
  display: flex;
  justify-content: flex-start;
}
.uIACKey{
  width: 70px;
}

.userinfoLogoutButton{
  justify-self: center;
}

@media screen and (max-width: 768px){
  .userinfoOrReservationlistContainer{
    display: flex !important;
    flex-direction: column !important;
  }
  .userInfoBoxItem{
    margin: 10px auto;
    padding: 10px 0;
  }
}

/* @media screen and (max-width: 480px){
  
} */