.Web_register {
  width: 100%;
  height: 100%;
  padding: 109px 0 0;
  background-color: var(--white);
}

.logo  {
  display: block;
  width: 386px;
  height: 89px;
  margin: 5.2% auto;
  object-fit: contain;
}
.signUpFormBox{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.inputTag{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: auto;
}

.inputTagLabel {
  font-size: 30px;
  line-height: 1.17;
  text-align: left;
  color: var(--black);
}

.inputTagInput {
  width: 600px;
  height: 63px;
  margin: 41px 0 0;
  padding: 0 15px;
  border-radius: 15px;
  border: solid 1px #0d47a1;
  background-color: var(--white);
  font-size: 30px;
}



.signUpButton{
  width: 608px;
  height: 98px;
  padding: 26px 24px 33px;
  background-color: var(--dusty-orange);
  border: 0 none;
  border-radius: 10px;
  font-size: 35px;
  line-height: 1.14;
  color: var(--white);
  margin: 30px auto 100px auto;
  cursor: pointer;
}

@media screen and (max-width: 375px){
  * {
    overflow-x:hidden;
  }
  .Web_register {
    width: 100vw;
    height: 100%;
    font-size: 15px;
    background-color: var(--white);
  }
  .signUpFormBox{
    margin: 0 9.6%;
  }
  .logo  {
    width: 192px;
    height: 44px;
    margin: 0 99px 50px 84px;
  }
  .signUpButton{
    width: 250px;
    height: 48.8px;
    padding: 10px 30px;
    margin: 0 auto;
  }
}

