.signup{
  position: relative;
}

.Web_register {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: var(--white);
}

.logo  {
  display: block;
  width: 200px;
  height: 89px;
  margin: auto;
  object-fit: contain;
}

@media screen and (max-width: 375px){

  .Web_register {
    width: 100vw;
    height: 100%;
    font-size: 15px;
    background-color: var(--white);
  }
  .logo  {
    width: 192px;
    height: 44px;
    margin: 0 99px 50px 84px;
  }
}