.Mnotice_wrap{
    height: 100vh; 
    /* height 다시 */
    background-color: #f4f7fc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 상단 검색창 */
.Mnotice_search{
    display: flex;
    width: 380px;
    height: 50px;
    padding: 10px;
    border: solid 3px var(--warm-grey);
    background-color: white;
    margin: 20px 0;
}
.Mnotice_search .Mnotice_input{
    flex:9;
    border: none;
    height: 25px;
    font-size: 20px;
}
.Mnotice_search .Mnotice_input:focus{
    outline: none; 
}
.Mnotice_search .Mnotice_img{
    flex:1;
    width: 30px;
    height: 30px;
}

/* table */
.Mnotice_table_wrap{
    width: 1200px;
    height: 500px;
    border-radius: 6px 6px 0 0;
    background-color: #fff;
    padding: 20px;
}
.Mnotice_table{
    width: 1160px;
}
.Mnotice_table_tr{
    background-color: #f5f6fa;
}
.Mnotice_table_padding{
    padding: 10px 20px;
}
.Mnotice_bottom_content_wrap{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    border-radius: 0 0 6px 6px;
    background-color: #fff;
    padding: 20px;
}
.Mnotice_btn_wrap{
    display: flex;
}
.Mnotice_btn_add,
.Mnotice_btn_delete{
    width: 50px;
    height: 30px;
    border-radius: 2px;
    background-color: #0058ff;
    border: none;
    color: #fff;
    font-size: 14px;
    margin: 0 5px;
}
.Mnotice_btn_add:hover,
.Mnotice_btn_delete:hover{
    background-color: #3076fa;
}
/* 모달 css */
.Mnotice_black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:#bebebe;
    opacity: 0.57;
    top:0;
    left: 0;
    z-index: 1;
}
.Mnotice_noticeModal_wrap{
    display: none;
    width: 600px;
    height: 550px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 30px;
    z-index: 2;
}
.Mnotice_noticeModal_word{
    text-align: center;
}
.Mnotice_noticeModal_word_span{
    margin-left: 0;
}
.Mnotice_noticeModal_word_span,
.Mnotice_noticeModal_selectTitle,
.Mnotice_noticeModal_title,
.Mnotice_noticeModal_content{
    font-size: 18px;
    font-weight: 600;
    color: #131523;
}
.Mnotice_noticeModal_selectInput{
    width: 200px;
    text-align: center;
    border-radius: 7px;
    border: solid 1px #b4b4b4;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
}
.Mnotice_noticeModal_titleInput{
    width: 200px;
    border-radius: 7px;
    border: solid 1px #b4b4b4;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    outline: none;
}
.Mnotice_noticeModal_textarea{
    border-radius: 7px;
    border: solid 1px #b4b4b4;
    font-size: 15px;
    outline: none;
    padding: 5px 10px;

}
.Mnotice_noticeModal_padding{
    padding: 6px 0;
}
.Mnotice_noticeModal_btn_wrap{
    display: flex;
    justify-content: center;
}
.Mnotice_noticeModal_btn_add,
.Mnotice_noticeModal_btn_cancel{
    width: 50px;
    height: 30px;
    border-radius: 2px;
    background-color: #0058ff;
    border: none;
    color: #fff;
    font-size: 14px;
    margin: 0 5px;
}
.Mnotice_noticeModal_btn_add:hover,
.Mnotice_noticeModal_btn_cancel:hover{
    background-color: #3076fa;
}
/* 공지사항 추가완료 모달창 */
.Mnotice_addSuccess_wrap{
    display: none;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 55%;
    margin: -250px 0 0 -250px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 30px;
    z-index: 2;
}
.Mnotice_addsuccess_content_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Mnotice_addsuccess_title{
    font-family: NanumSquare_ac;
    font-size: 17px;
    font-weight: bold;
    color: #131523;
}
.Mnotice_addsuccess_btn{
    width: 50px;
    height: 30px;
    border-radius: 2px;
    background-color: #0058ff;
    border: none;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}
.Mnotice_addsuccess_btn:hover{
    background-color: #3076fa;
}
/* 삭제 모달창 */
.Mnotice_deleteModal_wrap{
    display: none;
    width: 420px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 55%;
    margin: -250px 0 0 -250px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 30px;
    z-index: 2;
}
.Mnotice_deleteModal_content_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Mnotice_deleteModal_img_wrap{
    margin-right: 25px;
}
.Mnotice_deleteModal_img{
    width: 90px;
    height: 80px;
}
.Mnotice_deleteModal_title{
    font-size: 15px;
    font-weight: bold;
    color: #131523;
}
.Mnotice_deleteModal_question{
    font-size: 14px;
    color: #131523;
    margin: 10px 0;
}
.Mnotice_deleteModal_btn_wrap{
    display: flex;
}
.Mnotice_deleteModal_btn_delete,
.Mnotice_deleteModal_btn_cancel{
    width: 50px;
    height: 30px;
    border-radius: 2px;
    background-color: #0058ff;
    border: none;
    color: #fff;
    font-size: 14px;
    margin: 10px 10px 0 0;
}
.Mnotice_deleteModal_btn_delete:hover,
.Mnotice_deleteModal_btn_cancel:hover{
    background-color: #3076fa;
}
/* 공지사항 삭제완료 모달창 */
.Mnotice_deleteSuccess_wrap{
    display: none;
    width: 420px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 55%;
    margin: -250px 0 0 -250px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 30px;
    z-index: 2;
}
.Mnotice_deleteSuccess_content_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Mnotice_deleteSuccess_title{
    font-family: NanumSquare_ac;
    font-size: 17px;
    font-weight: bold;
    color: #131523;
}
.Mnotice_deleteSuccess_btn{
    width: 50px;
    height: 30px;
    border-radius: 2px;
    background-color: #0058ff;
    border: none;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}
.Mnotice_deleteSuccess_btn:hover{
    background-color: #3076fa;
}
/* .Mnotice_black_bg 의 height는 해상도별로 지정 */

@media screen and (max-width: 1025px) {
    .Mnotice_table_wrap{
        width: 1000px;
        height: 500px;
        border-radius: 6px 6px 0 0;
        background-color: #fff;
        padding: 20px;
    }
    .Mnotice_table{
        width: 960px;
    }
    .Mnotice_bottom_content_wrap{
        width: 1000px;
    }
}

@media screen and (max-width: 780px) {
    .Mnotice_table_wrap{
        width: 750px;
        height: 500px;
        border-radius: 6px 6px 0 0;
        background-color: #fff;
        padding: 20px;
    }
    .Mnotice_table{
        width: 710px;
    }
    .Mnotice_bottom_content_wrap{
        width: 750px;
    }
}
/* 
@media screen and (min-height: 599px) {
    .Mnotice_wrap{
        height: 120vh;
    }
    .Mnotice_black_bg{
        height: 700px;
    }
}
@media screen and (min-height: 699px) {
    .Mnotice_black_bg{
        height: 800px;
    }
}
@media screen and (min-height: 799px) {
    .Mnotice_wrap{
        height: 90vh;
    }
    .Mnotice_black_bg{
        height: 900px;
    }
} */