.changePassword_wrap{
    height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.changePassword_contentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 320px;
    border-radius: 30px;
    box-shadow: 5px 7px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dfe3f5;
}

.changePassword_word1{
    font-family: NanumSquare_ac;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #000;
    font-size: 18px;
    margin: 10px 0;
}

.changePassword_input1{
    margin: 15px 0 20px 0 !important;
}

.changePassword_input{
    border-radius: 10px;
    border: solid 1px #707070;
    background-color: #fff;
    width: 200px;
    height: 20px;
    padding: 15px 10px;
    outline: none;
    font-size: 12px;
}

.changePassword_input:focus{
    border-color: var(--black);
}

.changePassword_button1{
    margin-top: 25px !important;
}

.changePassword_button{
    background-color: #ef5e3b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 30px;
    font-weight: bold;
    margin: 5px 0;
}

.changePassword_button:hover{
    background-color: #f58f76;
}

@media screen and (max-width: 380px){
    .changePassword_wrap{
        height: 60vh;
    }
}

@media screen and (max-width: 321px){
    .changePassword_wrap{
        height: 56vh;
    }
    .changePassword_contentWrap{
        width: 250px;
        height: 280px;
    }

    .changePassword_word1{
        font-size: 16px;
    }

    .changePassword_input{
        width: 180px;
        font-size: 11px;
    }

    .changePassword_button{
        width: 140px;
        height: 25px;
        font-size: 12px;
    }
}

@media screen and (max-width: 281px){
    .changePassword_wrap{
        height: 60vh;
    }
}